 <table>
  <% post.comments.each do |comment| %>
   <tr>
    <td><%=image_tag comment.user.get_profile_image(50,50) %><br>
     <%=link_to comment.user.name, admin_user_path(comment.user) %>
    </td>
    <td width="170"><%=comment.comment %></td>
     <td><%=link_to "削除",admin_post_comment_path(post,comment), method: :delete, class: "btn btn-outline-danger", "data-confirm" =>"本当に削除しますか？", remote: true %></td>
   </tr> 
  <% end %>
 </table>  
 
 
