 <div class="container mt-5">
   <div class="row">
      <ul class="tab-list list-unstyled mt-4 ml-2 ml-md-5 mb-4">
         <li class="tab tab-active">公開<//li>
         <li class="tab">非公開</li>
      </ul>
   </div>   
   <div class="tabbox-contents">    
     <div class="tabbox box-show">
       <%=render "admin/posts/public_private_post", posts: @posts %>
     </div> 
     <div class="tabbox">
       <%=render "admin/posts/public_private_post", posts: @draft %>
     </div>  
   </div>     
</div>
   