<div class="container mt-5">
 <div class="row">
  <div class="col-md-3 offset-md-2 col-5 offset-1">
   <div class="tag_list">
    <span class="list_title"><i class="fa-solid fa-tag"></i>タグ一覧</span>
    <% @tags.each do |tag| %>
      <%=link_to tag.name, search_tag_path(tag: tag.name) %></br>
    <% end %>
    <%=paginate @tags %>
   </div> 
  </div>
  <div class="col-md-3 offset-md-1 col-5" %>
   <div class="vod_list">
    <span class="list_title"><i class="fa-solid fa-video"></i>配信サイト一覧</span>
    <% @vods.each do |vod| %>
      <%=link_to vod.name, search_vod_path(vod: vod.name) %></br>
    <% end %>
    <%=paginate @vods %>
   </div> 
  </div>
 </div>
</div>   
