* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

body {
  font-family: "DynaPuff", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-image: url('../images/body.png');
  background-size: cover;
}


#background {
  background-image: url('../images/background.png');
  background-size: cover;
  font-size: 3.0em;
  color: #fff;
  width: 100%;
  height: 600px;
}

.man-img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
}

#balloon {
  position: relative;
  padding: 15px;
  background: #ccc;
  border-radius: 30px;
}

#balloon:before {
  content: "";
  position: absolute;
  left: -38px;
  bottom: 0;
  width: 13px;
  height: 12px;
  background: #ccc;
  border-radius: 30px;
}

#balloon:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 3px;
  width: 16px;
  height: 15px;
  background: #ccc;
  border-radius: 30px;
}

.chaplin-img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

.devise-image {
  background-image: url('../images/devise.png');
  background-size: cover; 
  background-position: center;
  width: 50%;
  height: 60px;
  text-align: center;
  color: #fff;
}

.field {
  margin-bottom: 15px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  padding: 10px;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  padding: 10px;
}


#form_image {
  background-image: url('../images/draw-4067546_640.png');
  background-size: cover;
  background-color: rgba(250,250,250,0.1);
  background-blend-mode: lighten;
  color: #808080;
}

.index_img {
  width: 150px;
  height: 100px;
}

.card-img-top {
  height: 350px;
}

.confirm {
  border: 3px solid #808080;
  border-radius: 30px;
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
} 

@media screen and (max-width:425px){
  #background{
    background-position: center;
    height: 300px;
  }

  .man-img {
    width: 0px;
    height: 0px;
  }

  #balloon {
    padding: 10px;
  }  

  #balloon:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 10px;
    height: 9px;
    background: #ccc;
    border-radius: 30px;
  }
  
  #balloon:after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 3px;
    width: 14px;
    height: 13px;
    background: #ccc;
    border-radius: 30px;
  }

  .chaplin-img {
    width: 100px;
    height: 230px;
    margin-top: 90px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 19px;
  }

  h5 {
    font-size: 16px;
  }
 
  .top_link {
    margin-bottom: 15px;
    display: block;
  }

  
  .card-img-top {
    height: 250px;
  }

  #form_image {
    width: 100%;
    background-position: center;
    
  }

  .devise-image {
    width: 75%;
  }   

  .index_img {
    width: 100px;
    height: 70px;
  }

  .profile_img {
    width: 25px;
    height: 23px;
    border-radius: 50%;
  }
  
  p {
    margin-bottom: 0 !important;
  }

  .post_img {
    width: 100px;
    height: 60px;
  }

  .fw-bold {
    font-weight: bold;
    color: #930403;
  }
  
  .w-50 {
    width: 75% !important;
  }
  
} 