* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

body {
  font-family: "Hachi Maru Pop", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url('../images/body.png');
  background-size: cover;
}

.logo-animation {
  animation: logo 4s ease-in-out infinite alternate;
}

@keyframes logo {
  0%{
    transform: translate(0,0)rotate(-15deg);
  }
  50%{
    transform: translate(0,-15)rotate(0deg);
  }
  100%{
    transform: translate(0,0)rotate(15deg);
  }
}

.logo-img {
  display: none;
  position: absolute;
  bottom: 80px;
  right: 260px;
  width: 100px;
  height: 100px;
  transform: rotate(-20deg);
}

.open-modal {
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 30px;
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 10px;
  left: 80%;
  width: 20%;
  display: none;
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
}

.search-form {
  position: relative;
  margin-top: 50px;
}

.close-modal {
  position: absolute;
  top: 5px;
  left: 195px;
}

.search-form-img {
  position: absolute;
  top: 45px;
  left: 180px;
  width: 50px;
  height: 50px;
}

#background {
  background-image: url('../images/background.png');
  background-size: cover;
  font-size: 3.0em;
  color: #fff;
  width: 100%;
  height: 600px;
}

.man-img {
  width: 200px;
  height: 250px;
  border-radius: 50%;
}

#balloon {
  position: relative;
  padding: 15px;
  background: #ccc;
  border-radius: 30px;
}

#balloon:before {
  content: "";
  position: absolute;
  left: -38px;
  bottom: 0;
  width: 13px;
  height: 12px;
  background: #ccc;
  border-radius: 30px;
}

#balloon:after {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 3px;
  width: 16px;
  height: 15px;
  background: #ccc;
  border-radius: 30px;
}

.chaplin-img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

.typing {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #000000;
  animation: typing 4s steps(30) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
  100%{
    border-right: 0px solid #000000;
  }
}

@keyframes blink {
  0%,100%{
    border-color: #000000;
  }
  50%{
    border-color: transparent;
  }
}


.devise-image {
  background-image: url('../images/devise.png');
  background-size: cover; 
  background-position: center;
  width: 50%;
  height: 60px;
  text-align: center;
  color: #fff;
}

.field {
  margin-bottom: 15px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  padding: 10px;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  padding: 10px;
}


#form_image {
  background-image: url('../images/draw-4067546_640.png');
  background-size: cover;
  background-color: rgba(250,250,250,0.1);
  background-blend-mode: lighten;
  color: #808080;
}

.index_img {
  width: 150px;
  height: 100px;
}

.card-img-top {
  height: 350px;
}

.confirm {
  border: 3px solid #808080;
  border-radius: 30px;
  padding: 20px;
}

.tag_list, .vod_list, .genre_list {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.7);
  margin-top: 65px;
}

.tag_list_link {
  color: #000000;
}

.list_title {
  position: absolute;
  top: -33px;
  left: -2px;
  font-size: 15px;
  color: #000000;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.5);
}

.search-contents {
  border-radius: 30px;
  box-shadow: 0 3px 5px 2px #000000;
  padding: 20px;
}

.admin-tag-list {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  background-color: #e2e2e2;
  padding: 5px;
}

.new-tag-contents {
  background-color: #fff;
  box-shadow: 0 5px 5px 2px #000000;
  padding: 20px;
  width: 50%;
  margin: 20px auto;
}

.wrap {
  width: 100%;
}

.tab, .search-tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-radius: 30px;
  background-color: #fff;
  display: inline;
  color: #000;
}

.new-tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  background-color: #e2e2e2;
  display: inline;
  color: #000;
}

.tab:first-child, .search-tab:first-child, .new-tab:first-child {
  border-left: none;
}

.tab-active, .search-tab-active {
  color: #fff;
  background: #ccc;
  transition: all 0.2s ease-in-out;
}

.new-tab-active {
  color: #000000;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.tabbox, .search-tabbox, .new-tabbox {
  display: none;
}

.box-show, .search-box-show, .new-box-show {
  display: block;
}

.tab:hover, .search-tab:hover, .new-tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.tab-border {
  width: 90%;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}

.new-post-button:hover {
  color: #e2e2e2;
  transform: translate(0,5px);
}

.new-form {
  display: none;
}

.new-form-active {
  display: block;
}

.mypost_contents {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  width: 170px;
  height: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
} 

@media screen and (max-width:768px){
  #background{
    background-position: center;
    height: 300px;
  }

  .man-img {
    width: 0px;
    height: 0px;
  }

  #balloon {
    padding: 10px;
  }  

  #balloon:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 10px;
    height: 9px;
    background: #ccc;
    border-radius: 30px;
  }
  
  #balloon:after {
    content: "";
    position: absolute;
    left: -15px;
    bottom: 3px;
    width: 14px;
    height: 13px;
    background: #ccc;
    border-radius: 30px;
  }

  .chaplin-img {
    width: 100px;
    height: 230px;
    margin-top: 90px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 23px;
  }

  h4 {
    font-size: 19px;
  }

  h5 {
    font-size: 16px;
  }
 
  .top_link {
    margin-bottom: 15px;
    display: block;
  }

  
  .card-img-top {
    height: 250px;
  }

  #form_image {
    width: 100%;
    background-position: center;
    
  }

  .devise-image {
    width: 75%;
  }   

  .index_img {
    width: 100px;
    height: 70px;
  }

  .profile_img {
    width: 25px;
    height: 23px;
    border-radius: 50%;
  }
  
  p {
    margin-bottom: 0 !important;
  }

  .post_img {
    width: 100px;
    height: 60px;
  }

  .fw-bold {
    font-weight: bold;
    color: #930403;
  }
  
  .w-50 {
    width: 75% !important;
  }
  
  .search_list {
    display: none;
  }

  .open-modal {
    top: 110px;
    right: 50px;
  }
  
  .modal {
    left: 40%;
    width: 60%;
  }

  .tag_list, .vod_list .genre_list{
    padding: 5px;
    width: 195px;
  }  

  .new-tag-contents {
   margin: 0 auto;
   width: 80%;
  } 

  .logo-img {
    right:210px;
  }

  .dropdown-menu {
    width:400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

} 