 <div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-2 text-center">
      <%=image_tag "bones-1294357_640.png",style: "width: 100px; height: 100px; display: block; margin: auto;" %>
      <h3>退会画面</h3>
      <p class="mb-3">Cancellation screen</p>
      <h5 class="fw-bold mb-3">
        <i class="fa-solid fa-circle-exclamation"></i>
        退会後、下記実行できませんのでご注意ください
      </h5>
      <ul class="confirm text-left">
        <li>退会後、ログインできません。<br>
            再度ご利用いただく際は、新規登録が必要となります。
        </li>
        <li>退会後、投稿は全て削除されます。
            投稿を確認することはできなくなりますのでご注意ください。
        </li>    
      </ul>
      <%=link_to "退会する", user_path(current_user), method: :delete, class: "btn btn-outline-danger" %>
      <%=link_to "退会しない",mypage_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
 </div> 
 
